/* 1. Definición del Marco General */
.app-container {
    display: grid;
    /* Fila 1 (Navbar): Se ajusta al tamaño del contenido.
        Fila 2 (Cuerpo): Se expande (1fr) para ocupar todo el espacio sobrante.
        Fila 3 (Footer): Se ajusta al tamaño del contenido. */
    grid-template-rows: auto 1fr auto;

    /* Crucial: La app mide al menos el 100% de la ventana */
    min-height: 100vh;
}
