.filter-bar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    gap: 1rem;
    padding: 0 0 0 3rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

li {
    list-style: none;
}