.favorites-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: auto;
    border-left: 1px solid #ccc;
}

h2 {
    margin: 2rem 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

.favorites-list {
    width: 80%;
}

.favorite-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.favorites-counter {
    margin-bottom: 2rem;
}